*{
	box-sizing: border-box;
	margin:0;
	padding:0;
}
nav{
	background-color: red;
	overflow: auto;
	line-height: 60px;
	color: white;
}

nav > a{
	float:left;
	list-style:none;
	text-decoration: none;
	font-size: x-large;

}

nav ul{
	float: right;
}

nav li{
	float:left;
	text-align:right;
	list-style:none;
	text-decoration: none;
	margin: 0px 10px;
	font-size:large;
}

nav a{
	text-decoration: none;
}

.building{
	border-width: 10px;
	border-style: double;
	border-color: blue;

	text-align: center;
	font-size: 36px;
}

h1{
	background-color: green;
	padding: 30px;
	color:red;
	-webkit-text-stroke-width: 5px;
   -webkit-text-stroke-color: black;
}

img{
	width: 100%;
}

.web{
	clear:both;
}

.html{
	width:33%;
	float:left;
	padding:30px;
}

.css{
	width:33%;
	float:left;
	padding:30px;
}

.js{
	width:33%;
	float:left;
	padding:30px;
}

